.container {
    display: flex;
    justify-content: space-between;
    min-height:100vh;
    border-radius:4px;
    width:100%
  }
  .contentBox {
    width: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .paperBox {
    width: 80%;
  }
  .title {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
  }