.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:50%;
    min-width: 400px,
  
  }

  @media (max-width: 696px) {
    .container {
      width:100%;
      max-width: 100%; /* Adjust styling for smaller screens */
    }
  }

